@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
  color: @text;
}

window#waybar {
  background: @base;
  transition-property: background-color;
  transition-duration: 0.5s;

  border-radius: 0 0 20px 20px;
}

#window {
  margin: 3px 5px;
}

#workspaces {
  border-radius: 20px;
  padding: 0 5px;
  margin: 0px;
}

#workspaces button {
  padding: 0px 30px;
  margin: 3px 0px;
  min-height: 20px;
  background-color: transparent;
  color: @text;
  border-radius: 20px;
  border-color: transparent;
  transition:
    background-color 0.2s ease-out
}

#workspaces button.active {
  background-color: @surface;
  border-left: 2px solid @rose;
  border-right: 2px solid @rose;
}

#clock {
  background-color: transparent;
  padding: 3px 10px;
  margin: 3px 5px;
  color: @text;
}

#tray,
#cpu,
#temperature,
#memory,
#battery,
#pulseaudio,
#language,
#network {
  padding: 0px 5px;
  margin: 3px 5px;
  border-radius: 5px;
  color: @text;
}

#network {
  padding-right: 12px;
  margin-right: 15px;
}

